<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@next"></script>
    <!-- <script src="node_modules/vue/dist/vue.global.js"></script> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <title>Vue3 Demo</title>

</head>

<body>

    <div id="Application">
        <p :[prop]="name" @click="click" :style="{fontSize:fontSize+'px'}">HelloWorld</p>
        <p v-if="1">1</p>
        <p v-else="">1</p>
        <template v-if="1">
            <p>!</p>
        </template>
    </div>

</body>
<script>
    const App = {
        data() {
            return {
                prop: "id",
                name: "el_p",
                fontSize: 10,
            }
        },
        methods: {
            click() {
                this.fontSize++;
            }
        }
    }
    Vue.createApp(App).mount("#Application")
</script>

</html>